<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>controller.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarSolicitudCotroller</servlet-name>
        <servlet-class>controller.registrarSolicitudCotroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioController</servlet-name>
        <servlet-class>controller.usuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asignarSolicitudController</servlet-name>
        <servlet-class>controller.asignarSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responderSolicitudController</servlet-name>
        <servlet-class>controller.responderSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtrarSolicitudServlet</servlet-name>
        <servlet-class>controller.filtrarSolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filtrrarController</servlet-name>
        <servlet-class>controller.filtrrarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarSolicitudCotroller</servlet-name>
        <url-pattern>/registrarSolicitudCotroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioController</servlet-name>
        <url-pattern>/usuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asignarSolicitudController</servlet-name>
        <url-pattern>/asignarSolicitudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responderSolicitudController</servlet-name>
        <url-pattern>/responderSolicitudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtrarSolicitudServlet</servlet-name>
        <url-pattern>/filtrarSolicitudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filtrrarController</servlet-name>
        <url-pattern>/filtrrarController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
